@import 'tailwindcss';
@import './variables.css';
@import './global.css';
@import './admin-services.css';
@import './admin-forms.css';

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.position-topright[b-y65zu6vhcs] {
    top: 4.2rem !important;
    right: 0.5rem !important;
}


.puff-card {
    background: #ffffff;
    backdrop-filter: blur(3px);
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3),
    0px -3px 0px rgba(0, 0, 0, 0.2) inset;     
}

